<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.AdminDAO">
    <insert id="insertAdmin">
        insert into t_admin values(#{id},#{name},#{password},#{salt},#{state})
    </insert>



     <select id="selectByName" resultType="Admin">
        select * from t_admin where name=#{id}
     </select>



    <select id="selectRoleByName" resultType="Role">
        select id,role_name roleName,role_tag roleTag from sys_role where id in(select role_id from sys_user_role where user_id = (select id from t_admin where name = #{name}))
    </select>



    <select id="selectPermissionByName" resultType="Permission">
        select id,resource_name resourceName,resource_tag resourceTag,resource_url resourceUrl,permission_tag permissionTag from sys_permission where id in(select permission_id from sys_role_permission where role_id in(select role_id from sys_user_role where user_id = (select id from t_admin where name = #{name})))
    </select>

</mapper>
