<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.GuruDAO">

    <insert id="batchInsert">
        insert into t_guru values
        <foreach collection="list" item="i" index="index" separator=",">
            (#{i.id},#{i.name},#{i.summar},#{i.picPath})
        </foreach>
    </insert>
</mapper>
